@charset "UTF-8";
html, body {
    height: 100%;
}
h1, h2, h3, p, ul, li {
    font-family: 'Archer SSm A', 'Archer SSm B', Georgia, serif;
    -webkit-font-smoothing: antialiased; }

body {
    margin: 0px;
    padding: 0px;
    background-color:#9eb6ce;
    background-image: url(../img/background.jpg);
    background-position: top;
    background-repeat:repeat-x;
    font-family: Arial, Verdana;
    height:97%;
}

#Container {
    display: block;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding: 10px 5px 5px 10px;
    width:90%;
    max-width:1100px;
    background-color: rgba(255, 255, 255, 0.3);
    border: #0095c8 0px solid;
    box-shadow: 0px 0px 5px 5px #0095c8;
    -webkit-box-shadow: 0px 0px 5px 5px #0095c8;
    font-size: .8em; line-height: 1.5em;
}
#Snowman {
    width:56%;
    min-width:200px;
    max-width:650px;
    float:right;
}
#introCopy, #introLogo {
    width:42%;
    min-width:200px;
    float:left;
}
#disclosure {
    font-size:10px;
}


h1 {
    display:inline;
    font-size:18px;
    font-weight:normal;
    color:#bb0826;
}
h2 {
    display:inline;
    font-size:14px;
    font-style:italic;
    font-weight:strong;
    color:#bb0826;
}

ul {
    list-style:none;
    padding-left:0;
    font-weight:bold;
}

.logo {
    margin-right: 30px;
}



#Slider1, #Slider2, #Slider3 {
    position: relative;
    margin: 0px 5px 0px 0px;
    float: right;
    top: 0px; right: 0px;
    width: 680px;
    height: 240px;
    overflow: hidden;
}

#Preview {
    position: fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(255, 255, 255, 0.8);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    z-index:100;
    display:none;
}
#Snowman1 {
    position:absolute;
    text-align:center;
    top:50px; left:0; bottom:0; right:0;
    width:50%;
    min-width:480px;
    height:auto;
    margin: auto;
    overflow:hidden;
    border-width:10px;
    border-style:solid;
    border-color:#021a40;
    -webkit-border-image: url(../img/frame/borderFrame.png) 30 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/frame/borderFrame.png) 30 30 stretch; /* Opera 11-12.1 */
    border-image: url(../img/frame/borderFrame.png) 30 30 stretch;
}

#Snowman1 .arrow {
    visibility: hidden;
}

#printLogo {
    display:block;
    position:relative;
    width:25%;
    margin: 0 auto;
    top:350px;
    z-index:1000;
}
#printCorners {
    display:none;
}

#previewNav {
    width:246px;
    height:25px;
    margin: 25px auto 0px auto;
    background-color:#fff;
    border-width: 1px 1px 0 1px;
    border-style:solid;
    border-color:#bb0826;
}
#previewNav #preview_share {border:none; opacity:1.0; filter:alpha(opacity=100);}
#previewNav #preview_print {margin-left:15px; border:none;opacity:1.0; filter:alpha(opacity=100);}
#previewNav #preview_close {float:right; border:none;opacity:1.0; filter:alpha(opacity=100);}

#previewNav #preview_share:hover { opacity:0.4; filter:alpha(opacity=40); }
#previewNav #preview_print:hover { opacity:0.4; filter:alpha(opacity=40); }
#previewNav #preview_close:hover { opacity:0.4; filter:alpha(opacity=40); }

#corner_TL, #corner_TR, #corner_BL, #corner_BR {display:none; z-index:9999;}
#corner_TL {
    position:relative;
    top:10px;
    left:10px;
    background-image:url(../img/frame/cornerFrame_TL1.png);
}
#corner_TL {
    position:relative;
    top:10px;
    right:10px;
    background-image:url(../img/frame/cornerFrame_TL1.png);
}
#corner_BL {
    position:relative;
    bottom:10px;
    left:10px;
    background-image:url(../img/frame/cornerFrame_TL1.png);
}
#corner_BR {
    position:relative;
    bottom:10px;
    right:10px;
    background-image:url(../img/frame/cornerFrame_TL1.png);
}

.share-icon {
    display: inline-block;
    float: left;
    margin: 4px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/icons/share-icons.png);
}

.share-facebook {
    background-position: 0px 0px;
}

.share-facebook:hover {
    background-position: 0px -40px;
}

.share-twitter {
    background-position: -40px 0px;
}

.share-twitter:hover {
    background-position: -40px -40px;
}

.share-pinterest {
    background-position: -80px 0px;
}

.share-pinterest:hover {
    background-position: -80px -40px;
}

.share-linkedin {
    background-position: -240px 0px;
}

.share-linkedin:hover {
    background-position: -240px -40px;
}


.share-googleplus {
    background-position: -120px 0px;
}

.share-googleplus:hover {
    background-position: -120px -40px;
}


.share-stumbleupon {
    background-position: -360px 0px;
}

.share-stumbleupon:hover {
    background-position: -360px -40px;
}

.share-email {
    background-position: -320px 0px;
}

.share-email:hover {
    background-position: -320px -40px;
}
/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
{
    /*                background: url(../img/b21.png) no-repeat;*/
    overflow:hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }


/* jssor slider arrow navigator skin 13 css */
/*
.jssora13l              (normal)
.jssora13r              (normal)
.jssora13l:hover        (normal mouseover)
.jssora13r:hover        (normal mouseover)
.jssora13ldn            (mousedown)
.jssora13rdn            (mousedown)
*/
.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/buttons/a13.png) no-repeat;
    overflow:hidden;
    z-index:999;
}

.jssora13l {
    background-position: -10px -35px;
}

.jssora13r {
    background-position: -70px -35px;
}

.jssora13l:hover {
    background-position: -130px -35px;
}

.jssora13r:hover {
    background-position: -190px -35px;
}

.jssora13ldn {
    background-position: -250px -35px;
}

.jssora13rdn {
    background-position: -310px -35px;
}

.instructions {
    display:none;
}

.red {color:#bb0826;}

.cta_created {
    display:none;
    width:100%;
    overflow:visible;
    margin-bottom: 1em;
    text-align:left;
    padding:10px 0 0 0;
}
.cta_shared {
    display:none;
    margin: 1em 0;
    text-align:left;
    padding:10px 0 0 0;
}
.greeting {
    display:none;
    position:relative;
    top:-40%;
    z-index:999;
}
.share, .print, .scramble, .preview, .build {
    display:inline-block;
    float:left;
    padding:4px 8px;
    margin:3px 6px 3px 0px;
    background-color:#821861;
    color:#ffffff;
    border:1px solid #e0e3e2;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:12px;
    text-align:center;
    cursor: pointer;
}
.scramble:hover {
    background-color: #C12493;
}
.preview{
    background-color:#46a033;
    margin-right:0px;
}
.preview:hover {
    background-color: #53BE3D;
}
.build {
    background-color:#900;
}
.build:hover {
    background-color: #C40000;
}
a:link {
    color:#ffffff;
    text-decoration:none;
}
a:visited {
    color:#ffffff;
    text-decoration:none;
}
a:hover {
    color:#ffffff;
    text-decoration:none;
}
a:active {
    color:#ffffff;
    text-decoration:none;
}

.clearFix {clear:both;}

.footer {
    float:left;
    position: absolute;
    bottom:10px;
    padding-bottom:1em;
    font-size:.6em;
    text-align:left;
    color:#000000;
}

.button_preview{
    border:1px solid #E0E3E2; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 10px 5px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #46A033; background-image: -webkit-gradient(linear, left top, left bottom, from(#46A033), to(#007337));
    background-image: -webkit-linear-gradient(top, #46A033, #007337);
    background-image: -moz-linear-gradient(top, #46A033, #007337);
    background-image: -ms-linear-gradient(top, #46A033, #007337);
    background-image: -o-linear-gradient(top, #46A033, #007337);
    background-image: linear-gradient(to bottom, #46A033, #007337);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#46A033, endColorstr=#007337);
}

.button_preview:hover{
    border:1px solid #E0E3E2;
    background-color: #46A033; background-image: -webkit-gradient(linear, left top, left bottom, from(#46A033), to(#46A033));
    background-image: -webkit-linear-gradient(top, #46A033, #46A033);
    background-image: -moz-linear-gradient(top, #46A033, #46A033);
    background-image: -ms-linear-gradient(top, #46A033, #46A033);
    background-image: -o-linear-gradient(top, #46A033, #46A033);
    background-image: linear-gradient(to bottom, #46A033, #46A033);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#46A033, endColorstr=#46A033);
}

.button_scramble{
    border:1px solid #E0E3E2; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 10px 5px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #AE2573; background-image: -webkit-gradient(linear, left top, left bottom, from(#AE2573), to(#821861));
    background-image: -webkit-linear-gradient(top, #AE2573, #821861);
    background-image: -moz-linear-gradient(top, #AE2573, #821861);
    background-image: -ms-linear-gradient(top, #AE2573, #821861);
    background-image: -o-linear-gradient(top, #AE2573, #821861);
    background-image: linear-gradient(to bottom, #AE2573, #821861);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#AE2573, endColorstr=#821861);
}

.button_scramble:hover{
    border:1px solid #E0E3E2;
    background-color: #AE2573; background-image: -webkit-gradient(linear, left top, left bottom, from(#AE2573), to(#AE2573));
    background-image: -webkit-linear-gradient(top, #AE2573, #AE2573);
    background-image: -moz-linear-gradient(top, #AE2573, #AE2573);
    background-image: -ms-linear-gradient(top, #AE2573, #AE2573);
    background-image: -o-linear-gradient(top, #AE2573, #AE2573);
    background-image: linear-gradient(to bottom, #AE2573, #AE2573);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#AE2573, endColorstr=#AE2573);
}

@media print {
    body { background-color:#ffffff; background-image:none; height:100%;}
    #Container, #Snowman, #previewNav {display:none;}
    #Preview {height:100%;}

}

@media (max-width: 639px) {
    #Container {
        width:100%;
        overflow:hidden;
        margin:0px;
        padding:5px 0 0 0;
        border:none;
        box-shadow:none;
        -webkit-box-shadow:none;
    }
    #Snowman, #introCopy, #introLogo {
        float:none;
        width:96%;
        text-align:center;
        padding:0px;
        margin:10px auto 0 auto;
    }
    #Slider1, #Slider2, #Slider3 {
        margin-right:10px;
    }
    .cta_created {
        display:inline-block;
        text-align:center;
    }
    .cta_shared {
        display:inline-block;
        text-align:center;
    }
    .share, .print, .scramble, .preview {
        display:inline-block;
        float:none;
    }

}
