// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* MISC */
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
body.debug {
    border: 1em solid lime;
}
.part {
    border: 2px dotted yellow;
    margin: 0.2em;
    padding: 0.2em;
}
.create {
    border: 1px dashed red;
}
.shared {
    border: 1px dashed blue;
}
.charity {
    border: 1px dashed green;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
