// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import "animation";
@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/user-interface";
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import "core/_all";
@import "proj/_all";

.debug *:hover {
    outline-color: rgba(255,155,055,0.5);
    outline-offset: 0.5px;
    outline-style: solid;
    outline-width: 1px;
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@media print {
    body {
        background: none;
    }
    .noprint {
        display: none;
    }
    #Popup {
        display: block;
    }
    #Wrap {
        display: none;
    }
}
@import "_misc";
/* >^º!º^< */
