/* PROJ / base */

html, body {
    height: 100%;
}
body {
    background: url(../img/background.jpg) bottom repeat-x $icy_deep;
    background-size: cover;
    font-family: Arial, Verdana;
    line-height: 1.4;
}

#Container {
    font-size: .8em;
    padding: 1em;
    position: relative;

    h1, h2, h3, p, ul, li {
        font-family: 'Archer SSm A', 'Archer SSm B', Georgia, serif;
    }
    h1, h2 {
        color: $wf_red;
    }
    h1 {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.2;
    }
    h2 {
        font-size: 14px;
        font-style: italic;
    }
    a:link, a:visited, a:hover, a:active {
        color: white;
        text-decoration: none;
    }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    ul {
        font-weight: bold;
        list-style: none;
        padding-left: 0;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
