/* PROJ / buttons */

.button {
    border: 1px solid $edge0;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 10px 4px 10px;
    text-decoration: none;
    text-shadow: $light_shad;

    &.preview {
        @include backGrad( $lime0, $lime1);
        &:hover {
            @include backGrad( $lime0, $lime0);
        }
    }
    &.scramble {
        @include backGrad( $purp0, $purp1);
        &:hover {
            @include backGrad( $purp0, $purp0);
        }
    }
    &.build {
        @include backGrad( $redd0, $redd0);
        &:hover {
            @include backGrad( $redd1, $redd1);
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
