/* PROJ / buttons */

.arrow {
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    display: block;
    height: 45px;
    position: absolute;
    overflow: hidden;
    top: 123px;
    width: 50px;

        &.left { left: -6px; }
        &.right { right: -6px; }
    &:hover {
        &.left { left: -3px; }
        &.right { right: -3px; }
    }
    &:active {
        opacity: 0.9;
        &.left { left: -6px   !important; }
        &.right { right: -6px !important; }
    }
    .lt-ie9 .top & {
        &.left { background-image: url('../img/buttons/tabs_AR.png'); }
        &.right{ background-image: url('../img/buttons/tabs_AL.png'); }
    }
    .lt-ie9 .middle & {
        &.left { background-image: url('../img/buttons/tabs_BR.png'); }
        &.right{ background-image: url('../img/buttons/tabs_BL.png'); }
    }
    .lt-ie9 .bottom & {
        &.left { background-image: url('../img/buttons/tabs_CR.png'); }
        &.right{ background-image: url('../img/buttons/tabs_CL.png'); }
    }
    .top & {
        &.left { background-image: url('../img/buttons/tabs_AR-hr.png'); }
        &.right{ background-image: url('../img/buttons/tabs_AL-hr.png'); }
    }
    .middle & {
        &.left { background-image: url('../img/buttons/tabs_BR-hr.png'); }
        &.right{ background-image: url('../img/buttons/tabs_BL-hr.png'); }
    }
    .bottom & {
        &.left { background-image: url('../img/buttons/tabs_CR-hr.png'); }
        &.right{ background-image: url('../img/buttons/tabs_CL-hr.png'); }
    }
}
.button {
    border: 1px solid $edge_hi;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 10px 4px 10px;
    text-decoration: none;
    text-shadow: $light_shad;

    &.preview {   @include backGrad( $lime_hi, $lime_lo);
        &:hover { @include backGrad( $lime_hi, $lime_hi); }
        &:active{ @include backGrad( $lime_lo, $lime_lo); }
    }
    &.scramble {  @include backGrad( $purp_hi, $purp_lo);
        &:hover { @include backGrad( $purp_hi, $purp_hi); }
        &:active{ @include backGrad( $purp_hi, $purp_hi); }
    }
    &.build {     @include backGrad( $red_hi, $red_lo);
        &:hover { @include backGrad( $red_hi, $red_hi); }
        &:active{ @include backGrad( $red_lo, $red_lo); }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
