/* PROJ / cta */

.red {
    color: #bb0826;
}
.create {
    display: none;
    overflow: visible;
    text-align: left;
    width: 100%;
}
.shared {
    text-align: left;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
