/* PROJ / cta */

.instructions {
    display: none;
}
.red {
    color: #bb0826;
}
.cta_created {
    display: none;
    margin-bottom: 1em;
    overflow: visible;
    padding: 10px 0 0 0;
    text-align: left;
    width: 100%;
}
.cta_shared {
    display: none;
    margin: 1em 0;
    padding: 10px 0 0 0;
    text-align: left;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
