/* PROJ / custom */

#Container {
    @include coldHaze(5px);
    @include clearfix;

    font-size: .8em;
    margin: 1em; @include centify(); position: relative;
    padding: 1em;
    width: 90%; min-width: 800px; max-width: 1234px;
    .lt-ie9 & { max-width: 1111px; }
}
#Copy {
    float: left;
    margin: 1em;
    min-width: 200px;
    width: $leftside;
}
#Toy {
    @include coldHaze(3px);
    border: 3px solid white;
    box-sizing: content-box;
    float: right;
    margin: 1em;
    max-width: $slideW;
    overflow: hidden;
    width: $rightside;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
