/* PROJ / custom */

#Container {
    background-color: rgba(255, 255, 255, 0.3);
    border: #0095c8 0px solid;
    box-shadow: 0px 0px 5px 2px #0095c8;
    display: block;
    font-size: .8em;
    line-height: 1.5em;
    margin: 20px auto 0 auto;
    min-width: 800px;
    max-width: 1100px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 90%;
}
#Copy, #Logo {
    float: left;
    min-width: 200px;
    width: $leftside;
}
#Logo {
    .part {
        height: 50px;
        width: 180px;
    }
    .splash {
        margin: -10px;
        margin-top: -20px;
    }
}
#Toy {
    padding: 10px 0;
    float: right;
    width: $rightside;

    .snowmen {
        position: relative;
    }
}

.splash img {
    width: 100%;
}
.disclosure {
    color: gray;
    font-family: sans-serif;
    font-size: 10px;
}

.footer {
    bottom: -10px;
    font-size: .6em;
    position: absolute;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
