/* PROJ / custom */

#Container {
    background-color: rgba(255, 255, 255, 0.3);
    border: #0095c8 0px solid;
    box-shadow: 0px 0px 5px 2px #0095c8;
    display: block;
    font-size: .8em;
    line-height: 1.5em;
    margin: 20px auto 0 auto;
    max-width: 1100px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 90%;
}
#Copy, #Logo {
    float: left;
    min-width: 200px;
    width: $leftside;
}
#Toy {
    outline-color: rgba(255, 255, 255, 0.8);
    outline-offset: -10px;
    outline-style: solid;
    outline-width: 6px;
    padding: 10px 0;
    float: right;
    width: $rightside;

    .snowmen {
        position: relative;
    }
}
.snowmen {
    @include middify();
    max-width: 800px;
    min-width: 500px;
    width: 100%;
}
.splash img {
    width: 100%;
}
#disclosure {
    font-size: 10px;
}

.footer {
    bottom: -10px;
    font-size: .6em;
    position: absolute;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
