/* PROJ / jssor */

.slider {
    @include middify();
    clear: both;
    height: $slideH;
    overflow: hidden;
    position: relative;
    width: $slideW;
}

.arrow {
    height: 50px;
    top: 123px;
    width: 40px;

    &.left {
        left: -3px;
    }
    &.right {
        right: -3px;
    }
}
div[u="slides"] {
    cursor: move;
    height: $slideH;
    overflow: hidden;
    position: absolute;
    width: $slideW;
}

/* jssor slider arrow navigator skin 13 css */
.arrow {
    background-image-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 45px;
    position: absolute;
    opacity: 0.9;
    overflow: hidden;
    width: 50px;
    z-index: 999;

    &:hover {
        opacity: 1;
    }
    &:active {
        opacity: 0.8;
    }
}
.top {
    .arrow.left { background-image: url('../img/buttons/tabs_AR.png'); }
    .arrow.right{ background-image: url('../img/buttons/tabs_AL.png'); }
}
.middle {
    .arrow.left { background-image: url('../img/buttons/tabs_BR.png'); }
    .arrow.right{ background-image: url('../img/buttons/tabs_BL.png'); }
}
.bottom {
    .arrow.left { background-image: url('../img/buttons/tabs_CR.png'); }
    .arrow.right{ background-image: url('../img/buttons/tabs_CL.png'); }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
