/* PROJ / jssor */

.slider {
    @include middify();
    border-left: $edge;
    border-right: $edge;
    clear: both;
    height: $slideH;
    overflow: hidden;
    position: relative;
    right: 0px;
    top: 0px;
    width: $slideW;
}

.arrow {
    height: 50px;
    top: 123px;
    width: 40px;

    &.left {
        left: 0px;
    }
    &.right {
        right: 0px;
    }
}
div[u="slides"] {
    cursor: move;
    height: $slideH;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: $slideW;
}

/* jssor slider arrow navigator skin 13 css */
.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    overflow: hidden;
    width: 50px;
    z-index: 999;
}
.top {
    .jssora13l {
        background: url('../img/buttons/btn_rightTab_purple.png') no-repeat;
    }
    .jssora13r {
        background: url('../img/buttons/btn_leftTab_purple.png') no-repeat;
    }
}
.middle {
    .jssora13l {
        background: url('../img/buttons/btn_rightTab_orange.png') no-repeat;
    }
    .jssora13r {
        background: url('../img/buttons/btn_leftTab_orange.png') no-repeat;
    }
}
.bottom {
    .jssora13l {
        background: url('../img/buttons/btn_rightTab_green.png') no-repeat;
    }
    .jssora13r {
        background: url('../img/buttons/btn_leftTab_green.png') no-repeat;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
