/* PROJ / media */

body {
    overflow: hidden;
}

@media print {
    body {
        background: none;
        height: 100%;
    }
    #Clone {
        top: 0 !important;
    }
    #Container, .nav {
        display: none;
    }
    #Preview {
        height: 100%;
        overflow: hidden;
    }
    .noprint {
        display: none;
    }
}

@media (max-width: 639px) {
    body {
        overflow: auto;
    }
    #Container {
        border: none;
        box-shadow: none;
        margin: 0px;
        min-width: 400px;
        overflow: hidden;
        width: 100%;
    }
    #Toy, #Copy, #Logo {
        float: none;
        text-align: center;
        width: 96%;
    }
    .create {
        text-align: center;
    }
    .shared {
        text-align: center;
    }
    .share, .print, .scramble, .preview {
        display: inline-block;
        float: none;
    }
}

@media (min-width: 640px) {
    #Clone {
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
