/* PROJ / media */

body {
    overflow: hidden;
}

@media print {
    body {
        background: none;
        height: 100%;
    }
    #Container, #Preview .nav {
        display: none;
    }
    #Preview {
        height: 100%;
    }
    .noprint {
        display: none;
    }
}

@media (max-width: 639px) {
    body {
        overflow: auto;
    }
    #Container {
        border: none;
        box-shadow: none;
        margin: 0px;
        min-width: 450px;
        overflow: hidden;
        width: 100%;
    }
    #Toy, #Copy, #Logo {
        float: none;
        margin: 10px auto 0 auto;
        text-align: center;
        width: 96%;
    }
    .slider {
        margin-right: 10px;
    }
    .create {
        display: inline-block;
        text-align: center;
    }
    .shared {
        display: inline-block;
        text-align: center;
    }
    .share, .print, .scramble, .preview {
        display: inline-block;
        float: none;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
