/* preview */

#Clone {
    $size: 30;
    border-width: 10px;
    border-style: solid;
    border-color: #021a40;
    border: ($size * 1px) solid transparent;
    @include border-image( url('../img/frame/borderFrame.png') $size stretch );
    bottom: 0;
    left: 0;
    margin: auto;
    min-width: 480px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50px;

    .arrow {
        visibility: hidden;
    }
}

#Preview {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    .logo {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 350px;
        width: 25%;
        z-index: 1000;
    }
    .nav {
        background-color: #fff;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: #bb0826;
        height: 25px;
        margin: 25px auto 0px auto;
        width: 246px;

        .close, .print, .share {
            border: none;
            filter: alpha(opacity=100);
            float: right;
            opacity: 1.0;

            &:hover {
                filter: alpha(opacity=60);
                opacity: 0.6;
            }
        }
        .print, .share {
            float: left;
            margin-right: 1em;
        }
    }
}

.corners {
    background-color: rgba(55,55,255,0.3);
    height: 100%;
    width: 100em;

    .tl, .tr, .bl, .br {
        background-color: red;
        display: none;
        position: relative;
        width: 60px;
        z-index: 9999;
    }
    .tl {
        background-image: url('../img/frame/cornerFrame_TL1.png');
        left: 10px;
        top: 10px;
    }
    .tl {
        background-image: url('../img/frame/cornerFrame_TL1.png');
        right: 10px;
        top: 10px;
    }
    .bl {
        background-image: url('../img/frame/cornerFrame_TL1.png');
        bottom: 10px;
        left: 10px;
    }
    .br {
        background-image: url('../img/frame/cornerFrame_TL1.png');
        bottom: 10px;
        right: 10px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
