/* PROJ / preview */

#Preview {
    @include middify();
    @include backGrad($haze6, $haze6);
    cursor: not-allowed;
    display: none;
    position: fixed;
    width: 100%; height: 100%;

    .splash {
        max-width: 400px;
        position: relative; left: 99px; top: 333px;
        width: 100%;
        z-index: 10;
    }
    .nav {
        @include centify();
        background-color: white;
        border: 1px solid $edge_hi;
        .lt-ie9 & { border-color: $wf_red; }
        border-radius: 5px;
        box-shadow: 0 1px 3px gray;
        height: 30px;
        margin-top: 15px;
        padding: 3px 9px;
        position: fixed;
        width: 250px;
        z-index: 100;

        a:hover {
            &, * {
                @include opacity(0.6);
            }
        }
        .c52 {
            left: initial !important;
            position: fixed;
        }
        .close {
            float: right;
        }
    }
}

#Clone {
    @include middify();
    position: fixed;
    top: -3em;

    * {
        @include nosel();
        cursor: default;
    }
    .arrow { display: none; }
    .ui-draggable * {
        cursor: help;
        &:active { cursor: move; }
    }
    .corners {
        $gap: 3px;
        $size: 10;

        @include centify();
        border: $size * 1px solid transparent;
        position: absolute; top: 1.7%; bottom: 0; height: 97%; width: 97%;
        & {
            @include border-image( url('../img/frame/borderFrame.png') $size round);
        }
        .lt-ie9 & { border: $size * 0.5px solid white; }

        .tl, .tr, .bl, .br {
            background-repeat: no-repeat;
            background-size: 100%;
            height: 50px;
            position: absolute;
            width: 50px;
            z-index: 9;
        }
        .tl {
            background-image: url('../img/frame/corner_TL-hr.png');
            .lt-ie9 & { background-image: url('../img/frame/corner_TL.png'); }
            left: $gap;
            top: $gap;
        }
        .tr {
            background-image: url('../img/frame/corner_TR-hr.png');
            .lt-ie9 & { background-image: url('../img/frame/corner_TR.png'); }
            right: $gap;
            top: $gap;
        }
        .bl {
            background-image: url('../img/frame/corner_BL-hr.png');
            .lt-ie9 & { background-image: url('../img/frame/corner_BL.png'); }
            bottom: $gap;
            left: $gap;
        }
        .br {
            background-image: url('../img/frame/corner_BR-hr.png');
            .lt-ie9 & { background-image: url('../img/frame/corner_BR.png'); }
            bottom: $gap;
            right: $gap;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
