/* PROJ / snowmen */

.snowmen {
    @include centify();
    background-color: white;
    max-width: $slideW;
    min-width: $slideW / 2;
    width: 100%;

    div[u="slides"] {
        cursor: col-resize; cursor: ew-resize;
        height: $slideH;
        overflow: hidden;
        position: absolute;
        width: $slideW;

        .mode0 & {
            cursor: none;
        }
    }
    .slider {
        @include centify();
        clear: both;
        height: $slideH;
        overflow: hidden;
        position: relative;
        width: $slideW;
    }

    #Preview & {
        box-shadow: 1px 2px 5px gray;
        .slider {
            margin-bottom: -1.5px !important; // hide the seams
        }
    }
    #Toy & {
        .slider {
            box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2); // show the seams
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
